[submodule "templates/exybox-typescript"]
	path = templates/exybox-typescript
	url = https://github.com/k6t12n/exybox-typescript-template
[submodule "templates/react-redux-starter"]
	path = templates/react-redux-starter
	url = https://github.com/k6t12n/exybox-cra-redux-starter.git
[submodule "templates/react-redux-starter-ts"]
	path = templates/react-redux-starter-ts
	url = https://github.com/k6t12n/exybox-cra-redux-starter-ts.git
